/*  your css code here. If applicable */
  body {
        background-color: #f5f5f5;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .header {
        background-color: #011e29;
        color: white;
        text-align: center;
        padding: 28px;
        font-size: 32px;
        font-weight: bold;
    }

    .container {
        width: 90%;
        margin: 35px auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }


    .side-card {
        width: 22%;
        background-color: white;
        padding: 22px;
        border-radius: 15px;
        box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
    }

   
    .main-card {
        width: 50%;
        background-color: white;
        padding: 22px;
        border-radius: 15px;
        box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
        text-align: center;
    }

    .main-card p {
        line-height: 1.5;
        font-size: 15px;
        margin-top: 8px;
    }

    .pictorial-news img {
        width: 100%;
        height: 130px;
        object-fit: cover;
        border-radius: 6px;
        margin-bottom: 15px;
    }

    h3 {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 18px;
        font-size: 18px;
    }